@model CRUD_operations.Models.Movie

<h1>Create</h1>

<h4>Movie</h4>
<hr />

<form asp-action="Create" asp-controller="Movies" method="post" enctype="multipart/form-data">
    <div class="table-container">
        <table id="MainTable" class="table">
            <tbody>
                <tr>
                    <td rowspan="6" class="poster-cell" class="centered" id="CreateViewUploadedFile" style="width: 100px;">
                        <input type="file" name="uploadedFile" />
                    </td>
                    <td class="movie-title">
                        <input asp-for="Title" class="form-control" placeholder="Enter Title" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="Director" class="form-control" placeholder="Enter Director" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="Genre" class="form-control" placeholder="Enter Genre" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="ReleaseYear" class="form-control" placeholder="Enter ReleaseYear" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="Description" class="form-control" placeholder="Enter Description" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <input type="submit" value="Create" class="btn btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </p>
</form>
<br />
