/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 50%;
    padding: 10px;
}

ul { list-style-type: none; }*/

/*container for a list of movies*/

/*.main_list_container {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.12);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.12);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.12);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.5px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-end: 12px;
    margin-block-start: 0px;
    margin-bottom: 12px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 12px;
    padding-inline-start: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    text-transform: none;
    vertical-align: baseline;
    width: 768px;
}

.main_movie_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.posterContainer {
    border-bottom-color: rgba(0, 0, 0, 0.87);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.87);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0.87);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0.87);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-shrink: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: 106.547px;
    letter-spacing: 0.5px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    text-size-adjust: 100%;
    text-transform: none;
    vertical-align: baseline;
    width: 72px;
}

.MovieDataContainer {
    border-bottom-color: rgba(0, 0, 0, 0.54);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.54);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0.54);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0.54);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: auto;
    justify-content: space-between;
    letter-spacing: 0.25004px;
    line-height: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    width: 614px;
}

.movieTitle {
    border-bottom-color: rgba(0, 0, 0, 0.87);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.87);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0.87);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0.87);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: -webkit-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variation-settings: normal;
    font-weight: 600;
    min-height: 19.1875px;
    height: auto;
    letter-spacing: normal;
    line-height: 19.2px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 24px;
    padding-top: 0px;
    position: relative;
    text-align: left;
    text-size-adjust: 100%;
    text-transform: none;
    word-wrap: break-word;
    vertical-align: baseline;
    white-space: normal;
    width: 614px;
}

.movieDirector {
    border-bottom-color: rgba(0, 0, 0, 0.87);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.87);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0.87);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0.87);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: -webkit-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variation-settings: normal;
    font-weight: 600;
    min-height: 19.1875px;
    height: auto;
    letter-spacing: normal;
    line-height: 19.2px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 24px;
    padding-top: 0px;
    position: relative;
    text-align: left;
    text-size-adjust: 100%;
    text-transform: none;
    word-wrap: break-word;
    vertical-align: baseline;
    white-space: normal;
    width: 614px;
}

.movieGenre {
    border-bottom-color: rgba(0, 0, 0, 0.87);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.87);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0.87);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0.87);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: -webkit-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variation-settings: normal;
    font-weight: 600;
    min-height: 19.1875px;
    height: auto;
    letter-spacing: normal;
    line-height: 19.2px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 24px;
    padding-top: 0px;
    position: relative;
    text-align: left;
    text-size-adjust: 100%;
    text-transform: none;
    word-wrap: break-word;
    vertical-align: baseline;
    white-space: normal;
    width: 614px;
}

.movieReleaseYear {
    border-bottom-color: rgba(0, 0, 0, 0.87);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.87);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0.87);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0.87);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: -webkit-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variation-settings: normal;
    font-weight: 600;
    min-height: 19.1875px;
    height: auto;
    letter-spacing: normal;
    line-height: 19.2px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 24px;
    padding-top: 0px;
    position: relative;
    text-align: left;
    text-size-adjust: 100%;
    text-transform: none;
    word-wrap: break-word;
    vertical-align: baseline;
    white-space: normal;
    width: 614px;
}

.movieDescription {
    border-bottom-color: rgba(0, 0, 0, 0.87);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.87);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0.87);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0.87);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;*/
    /*slanted font*/
    /*font-style: italic;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variation-settings: normal;
    font-weight: 600;
    min-height: 19.1875px;
    height: auto;
    letter-spacing: normal;
    line-height: 19.2px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 24px;
    padding-top: 0px;
    position: relative;
    text-align: left;
    text-size-adjust: 100%;
    text-transform: none;
    word-wrap: break-word;
    vertical-align: baseline;
    white-space: normal;
    width: 614px;
}*/

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

table, td, th {
    border: 1px solid #595959;
}

td, th {
    padding: 3px;
    width: 30px;
    height: 25px;
}

th {
    background-color: #7accee !important;
}