#MainTable.table {
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0
}

table, td, th { border-bottom: 1px solid #595959; }

td, th {
    padding: 3px;
    width: auto;
    height: 25px;
}

.poster-cell { height: 300px; }

.poster-image {
    max-width: 200px;
    height: auto;
    object-fit: contain;
}

.table-container {
    display: flex;
    justify-content: center;
}

.movie-title { font-weight: bold; }

h1, h3, h4, p { text-align: center; }

#CreateViewUploadedFile.centered {
    text-align: center;
    vertical-align: middle;
}