table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

table, td, th {
    border-bottom: 1px solid #595959;
}

td, th {
    padding: 3px;
    width: 30px;
    height: 25px;
}

.poster-cell {
    height: 300px;
}

.poster-image {
    max-width: 200px;
    height: auto;
    object-fit: contain;
}

.table-container {
    display: flex;
    justify-content: center;
}
